
<div class="row">
	<div class="col-sm-3">
		@Html.Partial("_SidebarPartial")
	</div>

	<div class="col-sm-9 padding-right">
		<div class="product-details">
			<!--product-details-->
			<div class="col-sm-5">
				<div class="view-product">
					<img src="~/media/products/@Model.Image" alt="@Model.Image" />
					
				</div>
				<div id="similar-product" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
						</div>
						

					</div>

					<!-- Controls -->
					
				</div>

			</div>
			<div class="col-sm-7">
				<div class="product-information">
					<!--/product-information-->
					<h2>@Model.Name</h2>
					
					
					<span>
						<span> @Model.Price VND</span>
						<label>Quantity: 1</label>
						<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Increase" > + </a>
						
						<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Decrease" > - </a>
						
						<button type="button" class="btn btn-fefault cart">
							@if (User.Identity?.IsAuthenticated ?? false)
							{
								<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@Model.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a>
							}
							else
							{
								<a class="btn btn-default add-to-cart" asp-action="Login" asp-controller="Account"><i class="fa fa-shopping-cart"></i>Add to cart</a>
							}
						</button>
					</span>
					<p><b>Availability:</b> In Stock</p>
					<p><b>Category:</b> @Model.Category.Name</p>
					<p><b>Brand:</b> @Model.Brand.Name</p>
					<p><b>Description:</b> @Model.Description</p>
					
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->

		<div class="category-tab shop-details-tab">
			<!--category-tab-->
			
			
		</div><!--/category-tab-->

		<div class="recommended_items">
			<!--recommended_items-->
			<h2 class="title text-center">recommended items</h2>

			<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active">
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="~/media/products/@Model.Image" alt="@Model.Name" width="100px" height="250px" />
										<h2>@Model.Price VND</h2>
										<p>@Model.Name</p>
										<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@Model.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a>

									</div>

								</div>
							</div>
						</div>
						
					</div>
					
				</div>
				<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>

				</a>
				<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div><!--/recommended_items-->

	</div>
</div>