
@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "Product Listed";
}
<h3>Quản Lý Sản Phẩm</h3>

<a asp-area="Admin" asp-action="Create" class="btn btn-success btn-sm" asp-controller="Product">Add Product</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
    <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
        <td>
                @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>@Html.Raw(@item.Description)</td>
        <td>
                @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
        </td>
                <td>
                    <img src="~/media/products/@item.Image" width="120px">
                    
                </td>
        <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Product" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Product" asp-route-id="@item.Id">Delete</a>
            </td>
    </tr>
        }
     
    </tbody>
</table>
<div style="text-align: center;">
    @if (ViewBag.PageIndex > 1)
    {
        <a asp-action="Index" class="btn btn-danger btn-sm " asp-route-pageIndex="@(ViewBag.PageIndex - 1)">Previous</a>
    }
    @for (int i = 1; i <= ViewBag.PageCount; i++)
    {
        <a asp-action="Index" class="btn btn-success btn-sm" asp-route-pageIndex="@i">@i</a>
    }
    @if (ViewBag.PageIndex < ViewBag.PageCount)
    {
        <a asp-action="Index" class="btn btn-warning btn-sm" asp-route-pageIndex="@(ViewBag.PageIndex + 1)">Next</a>
    }
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.24.0-lts/standard/ckeditor.js"></script>
    <script>
        $("#ImageUpload").change(function () {
            readURL(this);
        })
            <script>
        CKEDITOR.replace('Description');
    </script>
}