@model IEnumerable<WebBH_Shopping.Models.OrderModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Quản Lý Đơn Hàng</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
                <td>
                    @if (@item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (@item.Status == 2)
                    {
                        <span class="text text-warning">Đơn hàng đang xử lý</span>
                    }
                    else if (@item.Status == 3)
                    {
                        <span class="text text-info">Đơn hàng đang vận chuyển</span>
                    }
                    else if (@item.Status == 4)
                    {
                        <span class="text text-danger">Đơn hàng huỷ</span>
                    }
                    else if (@item.Status == 5)
                    {
                        <span class="text text-danger">Chờ thanh toán</span>
                    }
                    else 
                    {
                        <span class="text text-success">Đơn hàng thành công</span>
                    }

                </td>
                
            <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-success btn-sm" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
